<%- include('./partials/adminHeader') %>

<!-- ===========wrapper============= -->
<div class="wrapper">
  <%- include('./partials/header') %>

  <!-- ===========Innerpage-wrapper============= -->
  <section>
    <div class="content dashbaord">
      <div class="in-content-wrapper">
        <div class="row no-gutters">
          <div class="col">
            <div class="heading-messages">
              <h3>Dashboard</h3>
            </div>
            <!-- End heading-messages -->
          </div>
          <!-- End column -->
          <!-- <div class="col-md-4">
							<div class="breadcrumb">
								<div class="breadcrumb-item"><i class="fas fa-angle-right"></i><a href="#">Dashboard</a>
								</div>
							</div>
						</div> -->
        </div>
        <!-- End row -->

        <div class="box">
          <div class="dashboard-wrapper">
            <div class="row">
              <div class="col-xl">
                <div class="dashboard-box">
                  <h4>Total Rooms</h4>
                  <h1 class="pbh1">
                    <i class="fas fa-hotel pb1i"></i><%= totalRooms %>
                  </h1>
                </div>
              </div>
              <div class="col-md">
                <div class="dashboard-box">
                  <h4>Bookings</h4>
                  <h1 class="pbh2">
                    <i class="fas fa-briefcase pb2i"></i><%= totalBookings %>
                  </h1>
                </div>
              </div>
              <div class="col-md">
                <div class="dashboard-box">
                  <h4>Reviews</h4>
                  <h1 class="pbh3">
                    <i class="fas fa-star pb3i"></i><%= totalReviews %>
                  </h1>
                </div>
              </div>
            </div>
          </div>
          <!-- End dashboard-wrapper -->
          <div class="content booking-content dashboard-bookings m-0">
            <div class="in-content-wrapper">
              <div class="row no-gutters">
                <div class="col">
                  <div class="heading-messages">
                    <h3>Bookings</h3>
                  </div>
                  <!-- End heading-messages -->
                </div>
                <!-- End column -->
              </div>
              <!-- End row -->

              <div class="box">
                <div class="row no-gutters">
                  <div class="col">
                    <table
                      id="example"
                      class="display table-hover table-responsive-xl"
                    >
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Mobile</th>
                          <th>Email</th>
                          <th>Arrive</th>
                          <th>Depart</th>
                          <th>Room Type</th>
                          <th>Booking Type</th>
                          <th>Payment</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% bookings.forEach(booking => { %>
                        <tr>
                          <td><%= booking.name %></td>
                          <td><%= booking.contact %></td>
                          <td><%= booking.email %></td>
                          <td><%= booking.arrival %></td>
                          <td><%= booking.departure %></td>
                          <td><%= booking.roomType %></td>
                          <td><%= booking.bookingType %></td>
                          <td><%= booking.paid %></td>
                        </tr>
                        <% }); %>
                      </tbody>
                    </table>
                  </div>
                  <!-- End column -->
                </div>
                <!-- End row -->
              </div>
              <!-- End Box -->
            </div>
            <!-- End in-content-wrapper -->
          </div>
          <!-- End booking-content -->
        </div>
        <!-- End Box -->
      </div>
      <!-- End in-content-wrapper -->
    </div>
    <!-- End content-dashboard -->
  </section>
  <!-- ===========End Innerpage-wrapper============= -->
</div>
<!-- end wrapper -->

<%- include('./partials/adminFooter') %>
