<%- include('./partials/header') %>

<!--============= PAGE-COVER =============-->
<section class="page-cover" id="event-details-cover">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-title">Nearby Details</h1>
        <ul class="breadcrumb justify-content-center">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="active breadcrumb-item">Details</li>
        </ul>
      </div>
      <!-- end columns -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end page-cover -->

<!--=============INNERPAGE-WRAPPER ===========-->
<section id="event-details" class="innerpage-wrapper">
  <div id="details-content" class="innerpage-section-padding">
    <div class="container">
      <div class="row">
        
        <div class="col-12 col-md-12 col-lg-8 col-xl-8 content-side">
          <div class="event-details-img">
            <div
              id="room-inner-carousel"
              class="carousel slide"
              data-ride="carousel"
            >
              <!-- Carousel Indicators -->
              <ol class="carousel-indicators">
                <% nearby.image.forEach((img, index) => { %>
                <li
                  data-target="#room-inner-carousel"
                  data-slide-to="<%= index %>"
                  class="<%= index === 0 ? 'active' : '' %>"
                ></li>
                <% }); %>
              </ol>

              <!-- Carousel Images -->
              <div class="carousel-inner">
                <% if (nearby.image && nearby.image.length > 0) { %>
                  <% nearby.image.forEach((img, index) => { %>
                    <div class="carousel-item <%= index === 0 ? 'active' : '' %>" style="height: 400px;">
                      <img src="<%= img %>" alt="Place Image" style="height: 100%;" />
                    </div>
                  <% }); %>
                <% } %>
              </div>
              <!-- end carousel-inner -->
            </div>
            <!-- end room-inner-carousel -->

            <ul class="list-unstyled">
              <li>
                <span><i class="fa fa-clock-o"></i></span> <%= nearby.time.start %> - <%= nearby.time.end %>
              </li>
              <li>
                <span><i class="fa fa-map-marker"></i></span> <%= nearby.distance %> km
              </li>
            </ul>
          </div>
          <!-- end event-details-img -->

          <div class="event-info">
            <h1 class="content-side-heading"><%= nearby.name %></h1>
            <p><%= nearby.description %></p>
          </div>
          <!-- end event-info -->
        </div>
        <!-- end columns -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end details-content -->
</section>
<!-- end innerpage-wrapper -->
<section class="map">
  <iframe
    src="<%= nearby.map %>"
    width="600"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</section>
<!-- end map -->

<%- include('./partials/footer') %>
