<%- include('./partials/header') %>

<!--============= PAGE-COVER =============-->
<section class="page-cover" id="event-listing-cover">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-title">Nearby Attractions</h1>
        <ul class="breadcrumb justify-content-center">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="active breadcrumb-item">Nearby Attractions</li>
        </ul>
      </div>
      <!-- end columns -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end page-cover -->

<!--=============INNERPAGE-WRAPPER ===========-->
<section id="event-listing" class="innerpage-wrapper">
  <div id="event-blocks" class="innerpage-section-padding">
    <div class="container">
      <div class="row">
        <!-- <div class="col-12 col-md-6 col-lg-4 col-xl-4"> -->
          <% nearby.forEach(place => { %>
          <div class="event-block col-12 col-md-6 col-lg-4 col-xl-4">
            <div class="event-img" id="event-1" style="background-image: url('<%= place.image[0] %>');">
              <div class="mask"></div>
              <!-- end mask -->

              <div class="event-title">
                <h2><%= place.name %></h2>
              </div>
              <!-- end event-title -->
            </div>
            <!-- end event-img -->
            <a
              href="/nearby-details?id=<%= place._id %>"
              class="btn btn-lg btn-g-border btn-block" 
              >View Details</a
            >
          </div>
          <!-- end event-block -->
          <% }) %>
        <!-- </div> -->
        <!-- end columns -->

        

        <!-- <div class="col-12 col-md-12 col-lg-12 col-xl-12 text-center">
          <ol class="pagination justify-content-center">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
              </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true"
                  ><i class="fa fa-angle-right"></i
                ></span>
              </a>
            </li>
          </ol>
        </div> -->
        <!-- end columns -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end event-blocks -->
</section>
<!-- end innerpage-wrapper -->

<%- include('./partials/footer') %>
