<%- include('./partials/header') %>

<!--============= PAGE-COVER =============-->
<section class="page-cover" id="room-details-cover">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-title">Room Details</h1>
        <ul class="breadcrumb justify-content-center">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="active breadcrumb-item">Room Details</li>
        </ul>
      </div>
      <!-- end columns -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end page-cover -->

<!--============= SEARCH-BAR =============-->
<section class="search-bar">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12 col-xl-12">
        <form>
          <div class="row">
            <div class="col-12 col-md-12 col-lg-10 col-xl-10">
              <div class="row">
                <div class="col-12 col-md-6 col-lg-3 col-xl-3">
                  <div class="form-group">
                    <input
                      type="date"
                      class="form-control dpd1"
                      placeholder="Arrival Date"
                      required
                    />
                  </div>
                </div>
                <!-- end columns -->

                <div class="col-12 col-md-6 col-lg-3 col-xl-3">
                  <div class="form-group">
                    <input
                      type="date"
                      class="form-control dpd2"
                      placeholder="Departure Date"
                      required
                    />
                  </div>
                </div>
                <!-- end columns -->

                <div class="col-12 col-md-6 col-lg-3 col-xl-3">
                  <div class="form-group">
                    <span><i class="fa fa-angle-down"></i></span>
                    <select class="form-control">
                      <option selected>Adults</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                  </div>
                </div>
                <!-- end columns -->

                <div class="col-12 col-md-6 col-lg-3 col-xl-3">
                  <div class="form-group">
                    <span><i class="fa fa-angle-down"></i></span>
                    <select class="form-control">
                      <option selected>Children</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                  </div>
                </div>
                <!-- end columns -->
              </div>
            </div>

            <div class="col-12 col-md-12 col-lg-2 col-xl-2 text-center">
              <a href="#" class="btn btn-default btn-black"
                >Check Availability</a
              >
            </div>
            <!-- end columns -->
          </div>
          <!-- end row -->
        </form>
      </div>
      <!-- end columns -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end search-bar -->

<!--=============INNERPAGE-WRAPPER ===========-->
<section id="room-details-page" class="innerpage-wrapper">
  <div id="room-details" class="innerpage-section-padding">
    <div class="container">
      <div class="row">
        <% rooms.forEach(room => { %>
        <div class="col-12 col-md-12 col-lg-9 col-xl-9 content-side">
          <div class="room-description">
            <div
              id="room-inner-carousel"
              class="carousel slide"
              data-ride="carousel"
            >
              <div class="price-tag">
                <p><span>₹ <%= room.price %>/</span> Per Night</p>
              </div>
              <!-- end price-tag -->

              <!-- Carousel Indicators -->
              <ol class="carousel-indicators">
                <% room.image.forEach((img, index) => { %>
                <li
                  data-target="#room-inner-carousel-<%= room.id %>"
                  data-slide-to="<%= index %>"
                  class="<%= index === 0 ? 'active' : '' %>"
                ></li>
                <% }); %>
              </ol>

              <!-- Carousel Images -->
              <div class="carousel-inner">
                <% if (room.image && room.image.length > 0) { %> <%
                room.image.forEach((img, index) => { %>
                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                  <img src="<%= img %>" class="img-fluid" alt="Room Image" />
                </div>
                <% }); %> <% } else { %>
                <!-- Default Image -->
                <div class="carousel-item active">
                  <img
                    src="/uploads/default.jpg"
                    alt="default-img"
                    class="img-fluid rounded-circle"
                    width="40px"
                  />
                </div>
                <% } %>
                <!-- end item -->
              </div>
              <!-- end carousel-inner -->
            </div>
            <!-- end room-inner-carousel -->

            <div id="room-facilities">
              <div class="row">
                <div class="col-12 col-md-4 col-lg-4 col-xl-2 no-padding">
                  <div class="facility-block">
                    <span><i class="fa fa-wifi"></i></span>
                    <p>Free Internet</p>
                  </div>
                  <!-- end facility-block -->
                </div>
                <!-- end columns -->

                <div class="col-12 col-md-4 col-lg-4 col-xl-2 no-padding">
                  <div class="facility-block">
                    <span><i class="fa fa-coffee"></i></span>
                    <p>Coffee Maker</p>
                  </div>
                  <!-- end facility-block -->
                </div>
                <!-- end columns -->

                <div class="col-12 col-md-4 col-lg-4 col-xl-2 no-padding">
                  <div class="facility-block">
                    <span><i class="fa fa-dribbble"></i></span>
                    <p>Sports Activity</p>
                  </div>
                  <!-- end facility-block -->
                </div>
                <!-- end columns -->

                <div class="col-12 col-md-4 col-lg-4 col-xl-2 no-padding">
                  <div class="facility-block">
                    <span><i class="fa fa-fax"></i></span>
                    <p>Alert Phone</p>
                  </div>
                  <!-- end facility-block -->
                </div>
                <!-- end columns -->

                <div class="col-12 col-md-4 col-lg-4 col-xl-2 no-padding">
                  <div class="facility-block">
                    <span><i class="fa fa-cutlery"></i></span>
                    <p>Breakfast Serve</p>
                  </div>
                  <!-- end facility-block -->
                </div>
                <!-- end columns -->

                <div class="col-12 col-md-4 col-lg-4 col-xl-2 no-padding">
                  <div class="facility-block">
                    <span><i class="fa fa-television"></i></span>
                    <p>Wide LCD TV</p>
                  </div>
                  <!-- end facility-block -->
                </div>
                <!-- end columns -->
              </div>
              <!-- end row -->
            </div>
            <!-- end room-facilities -->

            <div id="description">
              <div class="innerpage-heading">
                <% if (room.roomType === "deluxe") { %>
                  <div style="display: flex; justify-content: space-between;">
                    <h1>Deluxe Room</h1>
                    <h3>2 x <i class="fa fa-user"></i></h3>
                  </div>
                <% } else { %>
                <div style="display: flex; justify-content: space-between;">
                  <h1>Twin Room</h1>
                  <h3>4 x <i class="fa fa-user"></i></h3>
                </div>
                <% } %>
                <span class="room-position">A Room with Mountain View</span>
              </div>
              <!-- end innerpage-heading -->

              <p>
                <%= room.description %>
              </p>
              <a
                href="/reservation"
                class="btn btn-yellow btn-lg btn-block"
                >Book Now</a
              >
            </div>
            <!-- end description -->
          </div>
          <!-- end room-description -->
        </div>
        <%}) %>
      </div>
      <!-- end container -->
    </div>
  </div>
  <!-- end room-details -->
</section>
<!-- end innerpage-wrapper -->

<%- include('./partials/footer') %>
