<%- include('./partials/header') %>

<!--============= PAGE-COVER =============-->
<section class="page-cover" id="room-listing-cover">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-title">Room Listing Page</h1>
        <ul class="breadcrumb justify-content-center">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="active breadcrumb-item">Room Listing</li>
        </ul>
      </div>
      <!-- end columns -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end page-cover -->

<!--=============INNERPAGE-WRAPPER ===========-->
<section id="room-listings" class="innerpage-wrapper">
  <div id="room-listing-blocks" class="innerpage-section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
          <ul id="room-list" class="list-unstyled">
            <% rooms.forEach(room => { %>
            <li
              id="room-list-1"
              style="background-size: contain;
                background-image: url('<%= (room.image && room.image.length > 0) ? room.image[0] : '/images/default-room-list.jpg' %>');
              "
            >
              <div class="room-list-block">
                <div class="row">
                  <div
                    class="col-12 offset-md-4 col-md-8 offset-lg-5 col-lg-7 offset-xl-5 col-xl-7 room-text"
                  >
                    <div class="room-info">
                      <% if (room.roomType === "deluxe") { %>
                        <div style="display: flex; justify-content: space-between">
                          <h1 class="room-name">Deluxe Room</h1>
                          <h3>2 x <i class="fa fa-user"></i></h3>
                        </div>
                        <% } else { %>
                        <div style="display: flex; justify-content: space-between">
                          <h1 class="room-name">Twin Room</h1>
                          <h3>4 x <i class="fa fa-user"></i></h3>
                        </div>
                        <% } %>
                      <span class="room-position">A Room With Mountain View</span>
                      <ul class="list-inline list-unstyled room-features">
                        <li class="list-inline-item">
                          <span data-toggle="tooltip" title="Wifi"
                            ><i class="fa fa-wifi"></i
                          ></span>
                        </li>
                        <li class="list-inline-item">
                          <span data-toggle="tooltip" title="Clean"
                            ><i class="fa fa-leaf"></i
                          ></span>
                        </li>
                        <li class="list-inline-item">
                          <span data-toggle="tooltip" title="Big LCD"
                            ><i class="fa fa-television"></i
                          ></span>
                        </li>
                        <li class="list-inline-item">
                          <span data-toggle="tooltip" title="Furniture"
                            ><i class="fa fa-bed"></i
                          ></span>
                        </li>
                        <li class="list-inline-item">
                          <span data-toggle="tooltip" title="Hot Water"
                            ><i class="fa fa-coffee"></i
                          ></span>
                        </li>
                      </ul>
                      <p><%= room.description %></p>
                      <a href="/room-details?roomType=<%= room.roomType ? encodeURIComponent(room.roomType.toLowerCase()) : '' %>" class="btn btn-lg btn-yellow">View More</a>
                    </div>
                    <!-- end room-info -->
                  </div>
                  <!-- end columns -->
                </div>
                <!-- end row -->
              </div>
              <!-- end room-list-block -->
            </li>
            <!-- end list-item -->
            <% }) %>
          </ul>
        </div>
        <!-- end columns -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end room-listing-blocks -->
</section>
<!-- end innerpage-wrapper -->

<%- include('./partials/footer') %>
